---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
	</head>

	<body>


		<div class="wrapper">
			{% include header.html %}
			<main>
				{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
			</main>

			{% if page.path contains '_posts' %}

				{% if content contains 'reversefootnote' %}
					<aside class="note"></aside>
					<script async src="{{site.baseurl}}/assets/footnotes.js"></script>
				{% endif %}

			{% endif %}
		</div>
		<footer class="footer">
      <nav class="footer-navigation">
        <a class="github-link" href="https://github.com/hassansin">
        	<span class="fa-stack">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
					</span>
        </a>
        <a class="twitter-link" href="https://twitter.com/hassansine">
        	<span class="fa-stack">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</span>
        </a>
      </nav>
    </footer>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/share-button.min.js"></script>
    <script type="text/javascript">
    	new ShareButton({
			  ui:{
			  	button_font: false,
			  	icon_font: false,
			  	buttonText: '<i class="fa fa-share-alt fa-lg"></i> Share',
			  },
			  networks:{
		  		pinterest: {
		  			enabled: false,
		  		},
		  		reddit: {
		  			enabled: false,
		  		},
		  		whatsapp: {
		  			enabled: false,
		  		},
		  	}
			});
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		{% if page.custom_js %}
		  {% for js_file in page.custom_js %}
		  <script src='{{ js_file }}' type="text/javascript"></script>
		  {% endfor %}
		{% endif %}
    <script type="text/javascript">

    	(function generateAnchors (){
    		var anchoricon = '<svg aria-hidden="true" class="octicon octicon-link" height="16" role="img" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z"></path></svg>';
    		var headers = document.querySelectorAll('h1[id],h2[id],h3[id]');
    		console.log(headers);
    		var anchor,i;
    		for(i = 0;i < headers.length ; i++ ){
    			anchor = '<a class="anchor" href="#'+ headers[i].id +'">'+ anchoricon +'</a>';
    			headers[i].innerHTML = anchor + headers[i].innerHTML;
    		}
    	}());
    </script>
	</body>

</html>
