---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
	</head>

	<body>


		<div class="wrapper">
			{% include header.html %}
			<main>
				{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
			</main>

			{% if page.path contains '_posts' %}

				{% if content contains 'reversefootnote' %}
					<aside class="note"></aside>
					<script async src="{{site.baseurl}}/assets/footnotes.js"></script>
				{% endif %}

			{% endif %}
		</div>
		<footer class="footer">
      <nav class="footer-navigation">
        <a class="github-link" href="https://github.com/hassansin">
        	<span class="fa-stack">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
					</span>
        </a>
        <a class="twitter-link" href="https://twitter.com/hassansine">
        	<span class="fa-stack">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</span>
        </a>
      </nav>
    </footer>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/share-button.min.js"></script>
    <script type="text/javascript">
    	new ShareButton({
			  ui:{
			  	button_font: false,
			  	icon_font: false,
			  	buttonText: '<i class="fa fa-share-alt fa-lg"></i> Share',
			  },
			  networks:{
		  		pinterest: {
		  			enabled: false,
		  		},
		  		reddit: {
		  			enabled: false,
		  		},
		  		whatsapp: {
		  			enabled: false,
		  		},
		  	}
			});
    </script>
	</body>

</html>
